app/pug/gallery.pug
extends ../pug/templates/main
block menu
	- var page = '4';
block vars
	- var title = "Фотогаллерея";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen4.jpg);")
			.container
				.row
					.col
						h2.fz67.first_title.palatinolino_bd Фотогалерея

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - boxes_container - - - - - - - - - - - - - - - - 
		.boxes_container.indent4
			.container
				.row.boxes_wrapp
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img7.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Матчи сборной
							.number 394 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img8.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Официальные мероприятия
							.number 20 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img9.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Забей гол, фанат!
							.number 102 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img10.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Турниры
							.number 8 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img11.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Фан-зоны
							.number 8 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img12.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Разное
							.number 34 фото
						
		// - - - - - - - - - - - - - End of boxes_container - - - - - - - - - - - - - - - - 

		

		
	// Content End       ============================================ 

//- Content End       ============================================ 

app/gallery.html
<!Doctype html>
<html lang="en">
    <!-- Head Start     ============================================ -->
    <head>
        <!-- Basic page needs     ============================================ -->
        <title>Фотогаллерея</title>
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!-- Meta tags for social networks     ============================================-->
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="img/preview.jpg" />
        <!-- IE Support     "IE=edge","IE=11","IE=10","IE=9","IE=8"     ============================================ -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile specific metas     ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Disable conversion of telephone numbers     ============================================ -->
        <meta name="format-detection" content="telephone=no" />
        <!-- Favicon     ============================================-->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon-16.png" sizes="16x16" type="image/png" />
        <link rel="icon" href="images/favicon-32.png" sizes="32x32" type="image/png" />
        <link rel="icon" href="images/favicon-48.png" sizes="48x48" type="image/png" />
        <link rel="icon" href="images/favicon-62.png" sizes="62x62" type="image/png" />
        <link rel="icon" href="images/favicon-192.png" sizes="192x192" type="image/png" />
        <!-- Include Fonts (Icons)     ============================================ -->
        <link rel="stylesheet" media="screen" href="fonts/icons/font-awesome-4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" media="screen" href="fonts/fonts.css" />
        <!-- Include Libs CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/reset.css" />
        <link rel="stylesheet" media="screen" href="css/bootstrap.css" />
        <link rel="stylesheet" media="screen" href="plugins/owl-carousel/owl.carousel.min.css" />
        <link rel="stylesheet" media="screen" href="plugins/lightbox/css/lc_lightbox.css" />
        <link rel="stylesheet" media="screen" href="plugins/lightbox/css/skins/minimal.css" />
        <!-- Theme CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/style.css" />
        <link rel="stylesheet" media="screen" href="css/responsive.css" />
        <!--[if IE]><link href="css/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
    </head>
    <!-- Head End       ============================================ -->
    <!-- Body Start     ============================================ -->
    <body>
        <!--[if lte IE 9]><div class="browse-happy"><h3>You are using an <strong>outdated</strong> browser. Please<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h3></div><![end if]-->
        <div class="page_wrap">
            <!-- Preloader Start     ============================================ -->
            <div id="page-preloader">
                <span class="preloader"></span>
            </div>
            <!-- Preloader End       ============================================ -->
            <div class="overlay"></div>
            <!-- Header Start     ============================================ -->
            <header id="header">
                <div class="container">
                    <div class="row align-items-md-center">
                        <div class="col-md-2 col-10">
                            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
                            <div class="logo">
                                <a href="index.html">Всероссийское Объединение Болельщиков</a>
                            </div>
                            <!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - -->
                        </div>
                        <div class="col-md-10 col">
                            <!--  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - - -->
                            <div class="js-btns-menu-mob hide_768"></div>
                            <nav class="navigation_menu">
                                <menu class="menu">
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">Пресс-центр </a>
                                        <div class="dropdown_box">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;">новости воб</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">анонсы</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">сми</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">разное</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">ВОБ</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">документы</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link current" href="javascript:;">фото</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">турниры болельщиков</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">болельщику</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">контакты</a>
                                    </li>
                                </menu>
                            </nav>
                            <!--  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - - -->
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End       ============================================ -->
            <!-- Content Start     ============================================ -->
            <main id="content">
                <!-- - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - -->
                <div class="first_screen" style="background-image: url(images/first_screen4.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2 class="fz67 first_title palatinolino_bd">Фотогалерея</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - boxes_container - - - - - - - - - - - - - - - - -->
                <div class="boxes_container indent4">
                    <div class="container">
                        <div class="row boxes_wrapp">
                            <div class="col-md-6">
                                <div class="boxes_box">
                                    <a class="boxes_img_link" href="javascript:;">
                                        <img src="images/img7.jpg" alt="" />
                                    </a>
                                    <h2 class="boxes_title">
                                        <a href="javascript:;">Матчи сборной</a>
                                    </h2>
                                    <div class="number">394 фото</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="boxes_box">
                                    <a class="boxes_img_link" href="javascript:;">
                                        <img src="images/img8.jpg" alt="" />
                                    </a>
                                    <h2 class="boxes_title">
                                        <a href="javascript:;">Официальные мероприятия</a>
                                    </h2>
                                    <div class="number">20 фото</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="boxes_box">
                                    <a class="boxes_img_link" href="javascript:;">
                                        <img src="images/img9.jpg" alt="" />
                                    </a>
                                    <h2 class="boxes_title">
                                        <a href="javascript:;">Забей гол, фанат!</a>
                                    </h2>
                                    <div class="number">102 фото</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="boxes_box">
                                    <a class="boxes_img_link" href="javascript:;">
                                        <img src="images/img10.jpg" alt="" />
                                    </a>
                                    <h2 class="boxes_title">
                                        <a href="javascript:;">Турниры</a>
                                    </h2>
                                    <div class="number">8 фото</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="boxes_box">
                                    <a class="boxes_img_link" href="javascript:;">
                                        <img src="images/img11.jpg" alt="" />
                                    </a>
                                    <h2 class="boxes_title">
                                        <a href="javascript:;">Фан-зоны</a>
                                    </h2>
                                    <div class="number">8 фото</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="boxes_box">
                                    <a class="boxes_img_link" href="javascript:;">
                                        <img src="images/img12.jpg" alt="" />
                                    </a>
                                    <h2 class="boxes_title">
                                        <a href="javascript:;">Разное</a>
                                    </h2>
                                    <div class="number">34 фото</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of boxes_container - - - - - - - - - - - - - - - - -->
            </main>
            <!-- Content End       ============================================ -->
            <!-- Footer Start     ============================================ -->
            <footer id="footer">
                <div class="footer_top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="footer_box">
                                    <h6 class="footer_title">Пресс-центр</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">Новости ВОБ</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Анонсы</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">СМИ</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Разное</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">ВОБ</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">О движении</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Устав</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Структура</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Партнеры</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">Фото</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">Турниры</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Мероприятия</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Матчи сборной</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Разное</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">Болельщику</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">Правовая информация</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Документы</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Что делать, если ...</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">
                                        <a href="javascript:;">Документы</a>
                                    </h6>
                                    <h6 class="footer_title">
                                        <a href="javascript:;">Турниры болельщиков</a>
                                    </h6>
                                    <h6 class="footer_title">
                                        <a href="javascript:;">Контакты</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-1 col-lg-2 col-md-2">
                                <a class="footer_logo" href="javascript:;">
                                    <img src="images/footer_logo.png" alt="" />
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4">
                                <div class="copyright">
                                    <span>Copyright</span>
                                    <br>Всероссийское
                                    <br>объединение болельщиков,
                                    <br>© 2016</div>
                                <div class="made_by_link">Сделано в
                                    <a href="javascript:;">Undersky</a>
                                </div>
                            </div>
                            <div class="col-xl-3 offset-xl-3 col-lg-3 offset-lg-1 col-md-3">
                                <div class="footer_adress">
                                    <span>109004, Москва, Товарищеский переулок, д.20, стр.1</span>
                                    <a href="info@vob.su">info@vob.su</a>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <ul class="footer-soc social_list">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-vk" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End       ============================================ -->
        </div>
        <!-- Include Libs     ============================================ -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <!-- Include Libs End       ============================================ -->
        <script src="plugins/modernizr.js"></script>
        <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="plugins/jquery.matchHeight-min.js"></script>
        <script src="plugins/lightbox/js/lc_lightbox.lite.min.js"></script>
        <script src="plugins/lightbox/js/alloy_finger/alloy_finger.min.js"></script>
        <!-- Scripts Init Plugins & Core START     ============================================ -->
        <script src="js/script.init.js"></script>
        <script src="js/script.core.js"></script>
        <!-- Scripts Init Plugins & Core END       ============================================ -->
    </body>
    <!-- Body End       ============================================ -->
</html>
