app/index.html
<!Doctype html>
<html lang="en">
    <!-- Head Start     ============================================ -->
    <head>
        <!-- Basic page needs     ============================================ -->
        <title>Главная страница</title>
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!-- Meta tags for social networks     ============================================-->
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="img/preview.jpg" />
        <!-- IE Support     "IE=edge","IE=11","IE=10","IE=9","IE=8"     ============================================ -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile specific metas     ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Disable conversion of telephone numbers     ============================================ -->
        <meta name="format-detection" content="telephone=no" />
        <!-- Favicon     ============================================-->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon-16.png" sizes="16x16" type="image/png" />
        <link rel="icon" href="images/favicon-32.png" sizes="32x32" type="image/png" />
        <link rel="icon" href="images/favicon-48.png" sizes="48x48" type="image/png" />
        <link rel="icon" href="images/favicon-62.png" sizes="62x62" type="image/png" />
        <link rel="icon" href="images/favicon-192.png" sizes="192x192" type="image/png" />
        <!-- Include Fonts (Icons)     ============================================ -->
        <link rel="stylesheet" media="screen" href="fonts/icons/font-awesome-4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" media="screen" href="fonts/fonts.css" />
        <!-- Include Libs CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/reset.css" />
        <link rel="stylesheet" media="screen" href="css/bootstrap.css" />
        <link rel="stylesheet" media="screen" href="plugins/owl-carousel/owl.carousel.min.css" />
        <link rel="stylesheet" media="screen" href="plugins/lightbox/css/lc_lightbox.css" />
        <link rel="stylesheet" media="screen" href="plugins/lightbox/css/skins/minimal.css" />
        <!-- Theme CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/style.css" />
        <link rel="stylesheet" media="screen" href="css/responsive.css" />
        <!--[if IE]><link href="css/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
    </head>
    <!-- Head End       ============================================ -->
    <!-- Body Start     ============================================ -->
    <body>
        <!--[if lte IE 9]><div class="browse-happy"><h3>You are using an <strong>outdated</strong> browser. Please<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h3></div><![end if]-->
        <div class="page_wrap">
            <!-- Preloader Start     ============================================ -->
            <div id="page-preloader">
                <span class="preloader"></span>
            </div>
            <!-- Preloader End       ============================================ -->
            <div class="overlay"></div>
            <!-- Header Start     ============================================ -->
            <header id="header">
                <div class="container">
                    <div class="row align-items-md-center">
                        <div class="col-md-2 col-10">
                            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
                            <div class="logo">
                                <a href="index.html">Всероссийское Объединение Болельщиков</a>
                            </div>
                            <!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - -->
                        </div>
                        <div class="col-md-10 col">
                            <!--  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - - -->
                            <div class="js-btns-menu-mob hide_768"></div>
                            <nav class="navigation_menu">
                                <menu class="menu">
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">Пресс-центр </a>
                                        <div class="dropdown_box">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;">новости воб</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">анонсы</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">сми</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">разное</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">ВОБ</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link current" href="javascript:;">документы</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">фото</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">турниры болельщиков</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">болельщику</a>
                                    </li>
                                    <li class="menu_item">
                                        <a class="menu_link" href="javascript:;">контакты</a>
                                    </li>
                                </menu>
                            </nav>
                            <!--  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - - -->
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End       ============================================ -->
            <!-- Content Start     ============================================ -->
            <main id="content">
                <!-- - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - -->
                <div class="first_screen" style="background-image: url(images/first_screen.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h1 class="first_title palatinolino_bd">Всероссийское Объединение Болельщиков</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - news_container - - - - - - - - - - - - - - - - -->
                <div class="news_container indent negative_indent">
                    <div class="container">
                        <div class="row align-items-stretch">
                            <div class="col-lg-9 col-md-8">
                                <figure class="figure_news news_imgfon" style="background-image: url(images/news_fon.jpg);">
                                    <a class="news_abs_link" href="javascript:;"></a>
                                    <figcaption>
                                        <time datetime="2016/03/12">12 марта 2016</time>
                                        <h3 class="news_title palatinolino_bd">
                                            <a href="javascript:;">ВОБ подвел итоги поездки российских болельщиков на Евро-2016</a>
                                        </h3>
                                        <p>В пресс-центре ТАСС 23 июня прошла пресс-конференция президента Всероссийского объединения болельщиков Александра Шпрыгина, на которой были подведены итоги ...</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="news_aside">
                                    <figure class="figure_news">
                                        <figcaption>
                                            <time datetime="2016/03/12">12 марта 2016</time>
                                            <h5 class="news_title">
                                                <a href="javascript:;">Объявлены цены на билеты на матчи ЧМ-2018</a>
                                            </h5>
                                            <p>Международная федерация футбола (ФИФА) опубликовала билетную программу на ...</p>
                                        </figcaption>
                                    </figure>
                                    <hr/>
                                    <figure class="figure_news">
                                        <figcaption>
                                            <time datetime="2016/03/12">12 марта 2016</time>
                                            <h5 class="news_title">
                                                <a href="javascript:;">Поддержи сборную России по пляжному футболу</a>
                                            </h5>
                                            <p>С 1 по 3 июля в Москве состоится первый этап Евролиги-2016 по пляжному футболу.</p>
                                        </figcaption>
                                    </figure>
                                    <a class="btn-w btn-bd-yellow" href="javascript:;">Все новости</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of news_container - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - about_container - - - - - - - - - - - - - - - - -->
                <div class="about_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about_pattern">
                                    <img src="images/big_logo.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_text">
                                    <h2 class="title_bd_top">
                                        <a href="javascript:;">О Всероссийском Объединении Болельщиков</a>
                                    </h2>
                                    <p>Систематический уход, в отличие от некоторых других случаев, вращательно проецирует кожух, исходя из общих теорем механики. Погрешность изготовления участвует в погрешности определения курса меньше, чем гиротахометр.
                                        Электромеханическая система отличительно интегрирует альтиметр. Проекция зависима.</p>
                                    <a class="btn-w btn-bd-yellow" href="javascript:;">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of about_container - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - gallery_container - - - - - - - - - - - - - - - - -->
                <div class="gallery_container indent3">
                    <div class="gallery_big_title">ФОТОГАЛЕРEЯ</div>
                    <div class="container">
                        <div class="headline">
                            <h4>Фотогалерея
                                <i class="arial fs_norm">«</i>Матч Россия - Португалия 2016
                                <i class="arial fs_norm">»</i>
                            </h4>
                            <a class="btn-bd-yellow btn-size headline_all_photo_link hide_767" href="javascript:;">все фото</a>
                        </div>
                        <div class="row hide_767">
                            <div class="col-md-6">
                                <div class="gallery_left">
                                    <div class="gallery_box">
                                        <div class="gallery_img">
                                            <img src="images/gallery-img1.jpg" alt="" />
                                        </div>
                                        <div class="gallery_img">
                                            <img src="images/gallery-img2.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="gallery_img">
                                        <img src="images/gallery-img3.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="gallery_right">
                                    <div class="gallery_img">
                                        <img src="images/gallery-img4.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hide_768">
                            <div class="col">
                                <div class="js-gallery-slider owl-carousel">
                                    <div class="gallery-sl-item">
                                        <img src="images/gallery-img1.jpg" alt="" />
                                    </div>
                                    <div class="gallery-sl-item">
                                        <img src="images/gallery-img1.jpg" alt="" />
                                    </div>
                                    <div class="gallery-sl-item">
                                        <img src="images/gallery-img1.jpg" alt="" />
                                    </div>
                                    <div class="gallery-sl-item">
                                        <img src="images/gallery-img1.jpg" alt="" />
                                    </div>
                                    <div class="gallery-sl-item">
                                        <img src="images/gallery-img1.jpg" alt="" />
                                    </div>
                                </div>
                                <a class="btn-bd-yellow btn-size headline_all_photo_link" href="javascript:;">все фото</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of gallery_container - - - - - - - - - - - - - - - --->
                <!-- - - - - - - - - - - - - - banner_container - - - - - - - - - - - - - - - - -->
                <div class="banner_container indent">
                    <div class="container">
                        <a class="banner_box" href="javascript:;" style="background-image: url(images/banner_img.png);">
                            <img src="images/banner_logo.png" alt="" />
                            <div class="banner_text">
                                <h3 class="banner_title panton">Спортивные туры
                                    <span>евро 2016</span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of banner_container - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - partner_container - - - - - - - - - - - - - - - - -->
                <div class="partner_container indent2">
                    <div class="container">
                        <h6 class="fz16 segoe_reg grey4">Партнеры</h6>
                        <div class="js-logo-slider owl-carousel">
                            <div class="logo-sl-item">
                                <img src="images/logotype1.png" alt="" />
                            </div>
                            <div class="logo-sl-item">
                                <img src="images/logotype2.png" alt="" />
                            </div>
                            <div class="logo-sl-item">
                                <img src="images/logotype3.png" alt="" />
                            </div>
                            <div class="logo-sl-item">
                                <img src="images/logotype4.png" alt="" />
                            </div>
                            <div class="logo-sl-item">
                                <img src="images/logotype5.png" alt="" />
                            </div>
                            <div class="logo-sl-item">
                                <img src="images/logotype6.png" alt="" />
                            </div>
                            <div class="logo-sl-item">
                                <img src="images/logotype5.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of partner_container - - - - - - - - - - - - - - - - -->
            </main>
            <!-- Content End       ============================================ -->
            <!-- Footer Start     ============================================ -->
            <footer id="footer">
                <div class="footer_top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="footer_box">
                                    <h6 class="footer_title">Пресс-центр</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">Новости ВОБ</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Анонсы</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">СМИ</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Разное</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">ВОБ</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">О движении</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Устав</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Структура</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Партнеры</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">Фото</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">Турниры</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Мероприятия</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Матчи сборной</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Разное</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">Болельщику</h6>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="javascript:;">Правовая информация</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Документы</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Что делать, если ...</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_box">
                                    <h6 class="footer_title">
                                        <a href="javascript:;">Документы</a>
                                    </h6>
                                    <h6 class="footer_title">
                                        <a href="javascript:;">Турниры болельщиков</a>
                                    </h6>
                                    <h6 class="footer_title">
                                        <a href="javascript:;">Контакты</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-1 col-lg-2 col-md-2">
                                <a class="footer_logo" href="javascript:;">
                                    <img src="images/footer_logo.png" alt="" />
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4">
                                <div class="copyright">
                                    <span>Copyright</span>
                                    <br>Всероссийское
                                    <br>объединение болельщиков,
                                    <br>© 2016</div>
                                <div class="made_by_link">Сделано в
                                    <a href="javascript:;">Undersky</a>
                                </div>
                            </div>
                            <div class="col-xl-3 offset-xl-3 col-lg-3 offset-lg-1 col-md-3">
                                <div class="footer_adress">
                                    <span>109004, Москва, Товарищеский переулок, д.20, стр.1</span>
                                    <a href="info@vob.su">info@vob.su</a>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <ul class="footer-soc social_list">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-vk" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End       ============================================ -->
        </div>
        <!-- Include Libs     ============================================ -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <!-- Include Libs End       ============================================ -->
        <script src="plugins/modernizr.js"></script>
        <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="plugins/jquery.matchHeight-min.js"></script>
        <script src="plugins/lightbox/js/lc_lightbox.lite.min.js"></script>
        <script src="plugins/lightbox/js/alloy_finger/alloy_finger.min.js"></script>
        <!-- Scripts Init Plugins & Core START     ============================================ -->
        <script src="js/script.init.js"></script>
        <script src="js/script.core.js"></script>
        <!-- Scripts Init Plugins & Core END       ============================================ -->
    </body>
    <!-- Body End       ============================================ -->
</html>

app/pug/index.pug
extends ../pug/templates/main
block menu
	- var page = '3';
block vars
	- var title = "Главная страница";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen.jpg);")
			.container
				.row
					.col
						h1.first_title.palatinolino_bd Всероссийское Объединение Болельщиков

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - news_container - - - - - - - - - - - - - - - - 
		.news_container.indent.negative_indent
			.container
				.row.align-items-stretch
					.col-lg-9.col-md-8
						figure.figure_news.news_imgfon(style="background-image: url(images/news_fon.jpg);")
							a.news_abs_link(href="javascript:;")
							figcaption
								time(datetime="2016/03/12") 12 марта 2016
								h3.news_title.palatinolino_bd: a(href="javascript:;") ВОБ подвел итоги поездки российских болельщиков на Евро-2016
								p В пресс-центре ТАСС 23 июня прошла пресс-конференция президента Всероссийского объединения болельщиков Александра Шпрыгина, на которой были подведены итоги ...
					.col-lg-3.col-md-4
						.news_aside
							figure.figure_news
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Объявлены цены на билеты на матчи ЧМ-2018
									p Международная федерация футбола (ФИФА) опубликовала билетную программу на ...
							hr
							figure.figure_news
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Поддержи сборную России по пляжному футболу
									p С 1 по 3 июля в Москве состоится первый этап Евролиги-2016 по пляжному футболу.
							a.btn-w.btn-bd-yellow(href="javascript:;") Все новости
		// - - - - - - - - - - - - - End of news_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - about_container - - - - - - - - - - - - - - - - 
		.about_container
			.container
				.row
					.col-md-6
						.about_pattern
							img(src="images/big_logo.png", alt="")
					.col-md-6
						.about_text
							h2.title_bd_top: a(href="javascript:;") О Всероссийском Объединении Болельщиков
							p Систематический уход, в отличие от некоторых других случаев, вращательно проецирует кожух, исходя из общих теорем механики. Погрешность изготовления участвует в погрешности определения курса меньше, чем гиротахометр. Электромеханическая система отличительно интегрирует альтиметр. Проекция зависима.


							a.btn-w.btn-bd-yellow(href="javascript:;") Узнать больше
		// - - - - - - - - - - - - - End of about_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - gallery_container - - - - - - - - - - - - - - - - 
		.gallery_container.indent3
			.gallery_big_title ФОТОГАЛЕРEЯ
			.container
				.headline
					h4 Фотогалерея <i class="arial fs_norm">«</i>Матч Россия - Португалия 2016<i class="arial fs_norm">»</i>
					a.btn-bd-yellow.btn-size.headline_all_photo_link.hide_767(href="javascript:;") все фото
				.row.hide_767
					.col-md-6
						.gallery_left
							.gallery_box
								.gallery_img: img(src="images/gallery-img1.jpg", alt="")
								.gallery_img: img(src="images/gallery-img2.jpg", alt="")
							.gallery_img: img(src="images/gallery-img3.jpg", alt="")
					.col-md-6
						.gallery_right
							.gallery_img: img(src="images/gallery-img4.jpg", alt="")
				.row.hide_768
					.col
						.js-gallery-slider.owl-carousel
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
								
						a.btn-bd-yellow.btn-size.headline_all_photo_link(href="javascript:;") все фото
				
		// - - - - - - - - - - - - - End of gallery_container - - - - - - - - - - - - - - - -
		
		// - - - - - - - - - - - - - banner_container - - - - - - - - - - - - - - - - 
		.banner_container.indent
			.container
				a.banner_box(href="javascript:;" style="background-image: url(images/banner_img.png);")
					img(src="images/banner_logo.png", alt="")
					.banner_text: h3.banner_title.panton Спортивные туры <span>евро 2016</span>
					//- img(src="images/banner_img.jpg", alt="")
		// - - - - - - - - - - - - - End of banner_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - partner_container - - - - - - - - - - - - - - - - 
		.partner_container.indent2
			.container
				h6.fz16.segoe_reg.grey4 Партнеры
				.js-logo-slider.owl-carousel
					.logo-sl-item: img(src="images/logotype1.png", alt="")
					.logo-sl-item: img(src="images/logotype2.png", alt="")
					.logo-sl-item: img(src="images/logotype3.png", alt="")
					.logo-sl-item: img(src="images/logotype4.png", alt="")
					.logo-sl-item: img(src="images/logotype5.png", alt="")
					.logo-sl-item: img(src="images/logotype6.png", alt="")
					.logo-sl-item: img(src="images/logotype5.png", alt="")
		// - - - - - - - - - - - - - End of partner_container - - - - - - - - - - - - - - - - 

		
	// Content End       ============================================ 

//- Content End       ============================================ 
